{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}

<div class="container-fluid">
    <div class="row" style="margin:20px">
        <div class="col-sm">
            <h1><p class="font-title">Profile Page:</h1></p>
            <h6><p class="font-sub">You can view the details of your Car Rentals in this page.</h6></p>
        </div>
    </div>

    <div class="row" style="margin:20px">
    {% for rental in rentals %}
            
            <div class="col-sm-4">
                <br><h3 class="font-title"><p>Rented Car:</h3></p>
                <div class="card bg-light" style="width: 20rem;">
                    <img class="img-fluid" src="{{ rental.Car.CarPicture.url }}" style="width: 320px; height: 200px" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-title font-sub"><b>Name of Renter:</b> {{ rental.Renter }}</p>
                      <p class="card-text font-sub"><b>Rented Car: </b> {{ rental.Car }}</p>
                      <p class="card-text font-sub"><b>Return Date: </b>{{ rental.ReturnDate }}</p>
                      <p class="card-text font-sub"><b>Rental Date: </b>{{ rental.RentalDate }}</p>
                      <p class="card-text font-sub"><b>Total Cost: </b>{{ rental.TotalCost }}</p>
                      <a href="{% url 'finishrent' rental.id %}" class="btn btn-info btn-lg" role="button">Finish Rent</a>
                      <a href="{% url 'cancelrent' rental.id %}" class="btn btn-info btn-lg" role="button">Cancel Rent</a>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

