{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}
<div class="container">
    <h1>Car Catalogue</h1>
    {% for rental in rentals %}
            <a href="{% url 'finishrent' rental.id %}">Finish Rent</a>
            <p> {{ rental.Renter}} </p>
            <p> {{ rental.Car }} </p>
            <p> {{ rental.ReturnDate }} </p>
            <p> {{ rental.RentalDate }} </p>
            <p> {{ rental.TotalCost }} </p>
    {% endfor %}
    

</div>

{% endblock %}