{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}

<div class="container-fluid">
    <div class="row" style="margin:20px">
        <div class="col-sm">
            <div class="row" style="margin:50px">
                <div class="row">

                    <div class="col-5">
                        <img class="img-fluid rounded-circle" style="width:100px height:300px" src="{{ profile.dp.url }}"  alt="DP Picture">
                    </div>       
                
                    <div class="col-7">
                    <h1><b> Welcome to your Profile {{profile.user}}! </h1> </b>
                        <p class="font-sub"><b>Username: </b>{{profile.user}}</p> 
                        <p class="font-sub"><b>About: </b>{{profile.about}}</p>
                        <p class="font-sub"><b>Address: </b>{{profile.address}}</p>
                        <p class="font-sub"><b>Credit Rating: </b>{{profile.credit_rating}}</p>
                    <a href="{% url 'edit' profile.id %}" class="btn btn-info btn-lg" role="button">Edit Profile:</a>
                    </div>

                </div>
            </div>
        
    <div class="row" style="margin: 20px">
        <h1><b> Your Rented Cars: </h1> </b>

    {% for rental in rentals %}
            <div class="col-sm-4">
                <br><h3 class="font-title"><p>Rented Car:</h3></p>
                <div class="card bg-light" style="width: 20rem;">
                    <img class="img-fluid" src="{{ rental.Car.CarPicture.url }}" style="width: 320px; height: 200px" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-title font-sub"><b>Name of Renter:</b> {{ rental.Renter }}</p>
                      <p class="card-text font-sub"><b>Rented Car: </b> {{ rental.Car }}</p>
                      <p class="card-text font-sub"><b>Return Date: </b>{{ rental.ReturnDate }}</p>
                      <p class="card-text font-sub"><b>Rental Date: </b>{{ rental.RentalDate }}</p>
                      <p class="card-text font-sub"><b>Total Cost: </b>{{ rental.TotalCost }}</p>
                      <a href="{% url 'finishrent' rental.id %}" class="btn btn-info btn-lg" role="button">Finish Rent</a>
                      <a href="{% url 'cancelrent' rental.id %}" class="btn btn-info btn-lg" role="button">Cancel Rent</a>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
